<section class="page__categorys categorys">
	@@include('../../components/bem-blocks/_title.html', {
	"modif": "Категорії товарів"
	})
	<div class="categorys__container _container">
		<ul class="categorys__nav categ-nav">
			<li class="categ-nav__item">
				@@include('../../svg/css/living-room.svg')
				Дивани
			</li>
			<li class="categ-nav__item is-active">
				@@include('../../svg/css/bedroom.svg')
				Ліжка
			</li>
			<li class="categ-nav__item">
				@@include('../../svg/css/armchair.svg')
				Крісла
			</li>
			<li class="categ-nav__item">
				@@include('../../svg/css/wardrobe.svg')
				комоди
			</li>
			<li class="categ-nav__item">
				@@include('../../svg/css/bathroom.svg')
				Шафи
			</li>
			<li class="categ-nav__item">
				@@include('../../svg/css/kitchen.svg')
				Кухня
			</li>
		</ul>
		<div class="categorys__body categ-body">
			<a href="#" class="categ-body__item categ-item">
				<div class="categ-body__message message-block ibg">
					<div class="message-block__box hit hidden">ХІт продаж</div>
					<div class="message-block__box new">Новинка</div>
					<div class="message-block__box message-block__box--red action hidden">Акція</div>
					<img src="img/bed_example_06.jpg" alt="cover">
				</div>
				<div class="categ-body__description categ-desc">
					<h3 class="categ-desc__title">Ліжко Рамона</h3>
					<div class="categ-desc__price categ-desc__price--sale hidden"></div>
					<div class="categ-desc__price categ-desc__price--sipmle">8 999 грн</div>
				</div>
			</a>
			<a href="#" class="categ-body__item categ-item">
				<div class="categ-body__message message-block ibg">
					<div class="message-block__box hit">ХІт продаж</div>
					<div class="message-block__box new hidden">Новинка</div>
					<div class="message-block__box message-block__box--red action">Акція</div>
					<img src="img/bed_example_05.jpg" alt="cover">
				</div>
				<div class="categ-body__description categ-desc">
					<h3 class="categ-desc__title">Ліжко Честер</h3>
					<div class="categ-desc__price categ-desc__price--sale">8 999 грн</div>
					<div class="categ-desc__price categ-desc__price--sipmle">8 999 грн</div>
				</div>
			</a>
			<a href="#" class="categ-body__item categ-item">
				<div class="categ-body__message message-block ibg">
					<div class="message-block__box hit hidden">ХІт продаж</div>
					<div class="message-block__box new hidden">Новинка</div>
					<div class="message-block__box message-block__box--red action hidden">Акція</div>
					<img src="img/bed_example_04.jpg" alt="cover">
				</div>
				<div class="categ-body__description categ-desc">
					<h3 class="categ-desc__title">Ліжко Венеція люкс</h3>
					<div class="categ-desc__price categ-desc__price--sale hidden">8 999 грн</div>
					<div class="categ-desc__price categ-desc__price--sipmle">8 999 грн</div>
				</div>
			</a>
			<a href="#" class="categ-body__item categ-item">
				<div class="categ-body__message message-block ibg">
					<div class="message-block__box hit hidden">ХІт продаж</div>
					<div class="message-block__box new">Новинка</div>
					<div class="message-block__box message-block__box--red action hidden">Акція</div>
					<img src="img/bed_example_03.jpg" alt="cover">
				</div>
				<div class="categ-body__description categ-desc">
					<h3 class="categ-desc__title">Ліжко Імперія</h3>
					<div class="categ-desc__price categ-desc__price--sale hidden"></div>
					<div class="categ-desc__price categ-desc__price--sipmle">8 999 грн</div>
				</div>
			</a>
			<a href="#" class="categ-body__item categ-item">
				<div class="categ-body__message message-block ibg">
					<div class="message-block__box hit hidden">ХІт продаж</div>
					<div class="message-block__box new hidden">Новинка</div>
					<div class="message-block__box message-block__box--red action hidden">Акція</div>
					<img src="img/bed_example_02.jpg" alt="cover">
				</div>
				<div class="categ-body__description categ-desc">
					<h3 class="categ-desc__title">Ліжко Адель</h3>
					<div class="categ-desc__price categ-desc__price--sale"></div>
					<div class="categ-desc__price categ-desc__price--sipmle">8 999 грн</div>
				</div>
			</a>
			<a href="#" class="categ-body__item categ-item">
				<div class="categ-body__message message-block ibg">
					<div class="message-block__box hit">ХІт продаж</div>
					<div class="message-block__box new hidden">Новинка</div>
					<div class="message-block__box message-block__box--red action">Акція</div>
					<img src="img/bed_example_01.jpg" alt="cover">
				</div>
				<div class="categ-body__description categ-desc">
					<h3 class="categ-desc__title">Ліжко Атлант</h3>
					<div class="categ-desc__price categ-desc__price--sale">8 999 грн</div>
					<div class="categ-desc__price categ-desc__price--sipmle">8 999 грн</div>
				</div>
			</a>
		</div>
		<div class="categorys__button">
			<a href="#" class="site-button">В каталог</a>
		</div>
	</div>
</section>