.categ-nav {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	flex-wrap: wrap;
	margin-bottom: 85px;

	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 10px;
		padding: 0 10px;
		font-weight: 700;
		font-size: 18px;
		line-height: 150%;
		text-transform: uppercase;
		@media only screen and (min-width: 1024px) {
			font-size: 24px;
		}

		svg {
			height: 50px;
			width: 50px;
			margin-bottom: 10px;

			@media only screen and (min-width: 1024px) {
				height: 100px;
				width: 100px;
			}

			path {
				fill: #1e2e36;
			}
		}

		&::after {
			content: "";
			position: absolute;
			background-color: #ffffff;
			width: 100%;
			height: 3px;
			bottom: 0;
			left: 0;
		}

		&:hover {
			&::after {
				background-color: #1e2e36;
			}
		}

		&.is-active {
			svg path {
				fill: #44c697;
			}

			&::after {
				background-color: #44c697;
			}
		}
	}
}

.categ-body {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 75px;
	width: calc(100% + 30px);
	margin: 0 -15px;

	&__item {
		min-height: 350px;
		width: 100%;
		margin: 0 15px 50px;
		border-radius: 3px;
		z-index: 2;
		transition: all 0s linear 300ms;
		@media only screen and (min-width: 780px) {
			height: 350px;
			width: calc(100% / 2 - 30px);
		}
		@media only screen and (min-width: 1440px) {
			width: calc(100% / 3 - 30px);
		}

		&:hover {
			transform: translateY(-10px);

			& > .categ-desc {
				background-color: #44c697;
				color: #ffffff;

				.categ-desc__price {
					color: #ffffff;
				}
			}
		}
	}
}

.message-block {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 300px;
	padding: 10px 0 0;

	&__box {
		display: flex;
		align-items: center;
		width: max-content;
		max-width: 100%;
		min-height: 33px;
		margin-bottom: 10px;
		padding: 5px 15px;
		background-color: #1e2e36;
		color: #ffffff;
		text-transform: uppercase;
		z-index: 1;

		&--red {
			background-color: #ff1b1b;
		}

		&.hidden {
			display: none;
		}
	}
}

.categ-desc {
	display: flex;
	align-items: baseline;
	padding: 15px;
	transition: background-color 0s linear 300ms;

	&__title {
		font-weight: 700;
		font-size: 18px;
		line-height: 125%;
		text-transform: uppercase;
		flex: 1;
		@media only screen and (min-width: 1024px) {
			font-size: 24px;
		}
	}

	&__price {
		font-weight: 700;
		line-height: 125%;
		margin-left: 10px;
		text-transform: uppercase;

		&:not(:empty) {
			font-size: 14px;
			text-decoration-line: line-through;
			color: #bcbdbb;
			order: 1;
			@media only screen and (min-width: 1024px) {
				font-size: 18px;
			}

			& + * {
				font-size: 18px;
				text-decoration-line: none;
				color: #ff1b1b;
				order: 0;
				@media only screen and (min-width: 1024px) {
					font-size: 24px;
				}
			}
		}

		&:empty {
			& + * {
				font-size: 18px;
				text-decoration-line: none;
				color: #1e2e36;
				order: 0;
				@media only screen and (min-width: 1024px) {
					font-size: 24px;
				}
			}
		}
	}
}
