<footer class="footer">
	<div class="footer__body">
		<div class="footer__container _container">
			<div class="footer__content">
				<a href="#" class="footer__logo --svg__logo-light"></a>
				<div class="footer__column">
					<div class="footer__nav foot-nav">
						<ul class="foot-nav__list">
							<li class="foot-nav__item">
								<a href="#" class="foot-nav__link">Дивани</a>
							</li>
							<li class="foot-nav__item">
								<a href="#" class="foot-nav__link">ліжка</a>
							</li>
							<li class="foot-nav__item">
								<a href="#" class="foot-nav__link">Крісла</a>
							</li>
							<li class="foot-nav__item">
								<a href="#" class="foot-nav__link">шафи</a>
							</li>
							<li class="foot-nav__item">
								<a href="#" class="foot-nav__link">Кухні</a>
							</li>
							<li class="foot-nav__item">
								<a href="#" class="foot-nav__link">комоди</a>
							</li>
						</ul>
						<ul class="foot-nav__list">
							<li class="foot-nav__item">
								<a href="#" class="foot-nav__link">АкцІї</a>
							</li>
							<li class="foot-nav__item">
								<a href="#" class="foot-nav__link">Доставка та оплата</a>
							</li>
							<li class="foot-nav__item">
								<a href="#" class="foot-nav__link">про нас</a>
							</li>
							<li class="foot-nav__item">
								<a href="#" class="foot-nav__link">контакти</a>
							</li>
						</ul>
					</div>
					<div class="foot-nav__contact contact">
						<div class="contact__box">
							<a href="#" class="contact__item contact__local --svg__map-pin-before">TEST</a>
							<p class="contact__item contact__schedule --svg__calendar-before">Пн-Пт, з 10 до 18</p>
							<a href="tel:+380991112233"
								class="contact__item contact__phone --svg__smartphone-green-before">
								(099)111 22 33
							</a>
							<a href="tel:+380992223344" class="contact__item contact__phone">
								(099) 222 33 44
							</a>
						</div>

						<div class="social-box">
							<p class="social-box__text">Ми в соціальних мережах:</p>
							<a href="#" class="social-box__button --svg__telegram-white"></a>
							<a href="#" class="social-box__button --svg__facebook-white"></a>
							<a href="#" class="social-box__button --svg__instagram-white"></a>
						</div>
					</div>

				</div>
				<div class="footer__column foot-nav__info">
					<div class="foot-nav__copyright">
						&#169; ТОВ Furniture, працюємо з 2006 року
					</div>
					<div class="foot-nav__development --svg__logo-hlyanets-before">
						Глянець — розробка інтернет-магазинів
					</div>
				</div>

			</div>
			<div class="footer__img ibg">
				<img src="img/footer.jpg" alt="cover">
			</div>
		</div>

	</div>
</footer>