.footer {
	&__body {
		background-color: #1e2e36;
	}

	&__container {
		@media only screen and (min-width: 1025px) {
			display: grid;
			grid-template-areas: "content image";
			grid-template-columns: auto 60vw;
		}
	}

	&__content {
		padding: 50px 0 15px;
		color: #ffffff;
		@media only screen and (min-width: 425px) {
			padding: 50px 15px 15px;
		}
		@media only screen and (min-width: 1025px) {
			padding: 50px 15px 15px 0;
		}
	}

	&__column {
		display: flex;
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: 100px;
			@media (max-width: 768px) {
				display: block;
			}
		}
	}

	&__logo {
		display: block;
		width: 70vw;
		height: 14vw;
		background-size: cover;
		background-repeat: no-repeat;
		margin: 0 auto 50px 0;
		@media only screen and (min-width: 425px) {
			width: 360px;
			height: 75px;
		}
	}
}

.foot-nav {
	display: flex;
	@media (max-width: 1024px) {
		flex: 1 1 100%;
	}
	@media (max-width: 768px) {
		margin-bottom: 50px;
	}

	&__list {
		width: max-content;
		margin: 0 50px 0 0;
	}

	&__item {
		padding-left: 20px;
		position: relative;
		margin-bottom: 20px;

		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			left: -0;
			height: 2px;
			width: 15px;
			background-color: #44c697;
		}
	}

	&__link {
		color: #ffffff;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 18px;
		line-height: 125%;
	}

	&__contact {
		width: max-content;
		@media only screen and (min-width: 1025px) {
			margin-left: 90px;
		}
	}

	&__info {
		display: flex;
		align-items: center;
	}

	&__copyright {
		font-weight: 400;
		font-size: 14px;
		line-height: 120%;
		@media only screen and (min-width: 1025px) {
			flex: 1 1 75%;
		}
	}

	&__development {
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		display: flex;
		align-items: center;
		text-transform: uppercase;
		font-family: Cuprum;
		@media only screen and (min-width: 1025px) {
			flex: 1 1 50%;
		}

		&::before {
			width: 20px;
			height: 20px;
			margin-right: 3px;
		}
	}
}

.contact {
	&__item {
		position: relative;
		display: flex;
		align-items: center;
		font-weight: 400;
		font-size: 18px;
		line-height: 125%;
		color: #ffffff;
		margin-bottom: 16px;
		padding-left: 30px;

		&::before {
			position: absolute;
			top: 50%;
			left: 0;
			width: 22px;
			height: 22px;
			background-size: contain;
			transform: translateY(-10px);
		}
	}

	&__box {
		margin-bottom: 30px;
	}

	&__phone {
		font-weight: 700;
		font-size: 18px;
		line-height: 125%;
		text-transform: uppercase;
		color: #44c697;
	}

	.social-box {
		&__text {
			font-weight: 400;
			font-size: 18px;
			line-height: 125%;
			@media only screen and (min-width: 769px) {
				flex: 1 1 100%;
				margin-bottom: 15px;
			}
		}
	}
}
