<header class="header">
	<div class="header__container _container">
		<div class="header__body">
			<div class="social-box">
				Ми в соціальних мережах:
				<a href="#" class="social-box__button --svg__telegram"></a>
				<a href="#" class="social-box__button --svg__facebook"></a>
				<a href="#" class="social-box__button --svg__instagram"></a>
				<a href="tel:+380991112233" class="social-box__phone --svg__smartphone-before --svg__chevron-after">
					(099)111 22 33
				</a>
			</div>
			<nav class="header__menu menu">
				<ul class="menu__list">
					<li class="menu__item is-active">
						<a href="#" class="menu__link">Головна</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">АкцІї</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">Доставка та оплата</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">про нас</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">контакти</a>
					</li>
				</ul>
			</nav>
			<div class="header__border"></div>
			<div class="header__nav nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="#" class="nav__link --svg__chevron-after">Дивани</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link --svg__chevron-after">ліжка</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link --svg__chevron-after">Крісла</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link --svg__chevron-after">комоди</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link --svg__chevron-after">шафи</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link --svg__chevron-after">Кухня</a>
					</li>
				</ul>
			</div>
			<div class="header__topbar topbar">
				<a href="#" class="header__logo --svg__logo"></a>
				<input id="menu-toggle" class="topbar__toggle" type="checkbox"/>
				<label class="topbar__button" for="menu-toggle">
					<span class="topbar__line"></span>
				</label>
			</div>
			<div class="header__buttons cart-block">
				<a href="#"
					class="cart-block__button site-button site-button--white --svg__shopping-cart-before">Кошик</a>
				<a href="tel:+380991112233" class="cart-block__order-a-call site-button">Замовити дзвінок</a>
			</div>
		</div>
	</div>
</header>