<section class="page__services services">
	@@include('../../components/bem-blocks/_title.html', {
	"modif": "Наші переваги"
	})
	<div class="services__container _container">
		<div class="services__carousel carousel">
			<a href="#" class="carousel__item ibg">
				<div class="carousel__description car-desc">
					<div class="car-desc__wax"></div>
					<h3 class="car-desc__title border">Меблі преміум класу</h3>
					<p class="car-desc__text">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, tempore! Minima odit
						delectus, aperiam id error provident voluptatum praesentium saepe ab molestiae
						commodi
						sint suscipit magnam officia. Dolores, officia ea!
					</p>
				</div>
				<img src="img/rectangle_3.jpg" alt="cover">
			</a>
			<a href="#" class="carousel__item ibg">
				<div class="carousel__description car-desc">
					<div class="car-desc__wax"></div>
					<h3 class="car-desc__title border">Надійність</h3>
					<p class="car-desc__text">
						За 14 років на ринку меблів для дому ми стали надійними партнерами на ринку
						Вінницької
						області та України
					</p>
				</div>
				<img src="img/rectangle_2.jpg" alt="cover">
			</a>
			<a href="#" class="carousel__item ibg">
				<div class="carousel__description car-desc">
					<div class="car-desc__wax"></div>
					<h3 class="car-desc__title border">Безкоштовна доставка</h3>
					<p class="car-desc__text">
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit dolor magni nisi
						eius
						modi itaque dolorum, nulla, dolorem repellendus quae, atque vel! Corporis, saepe
						officiis sequi laborum assumenda molestias quisquam.
					</p>
				</div>
				<img src="img/rectangle_1.jpg" alt="cover">
			</a>
			<div class="carousel__nav">
				<div class="arrow arrow-left"></div>
				<div class="arrow arrow-right"></div>
			</div>
		</div>
	</div>
</section>