.carousel {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 30px);
	margin: 0 -15px;
	&__item {
		min-height: 350px;
		width: 100%;
		margin: 0 15px 15px;
		padding: 15px;
		border-radius: 3px;
		z-index: 2;
		@media only screen and (min-width: 780px) {
			height: 350px;
			width: calc(100% / 3 - 30px);
		}
		@media only screen and (min-width: 1024px) {
			padding: 30px 30px 15px;
		}
		&:hover {
			& > * .car-desc__text {
				height: auto;
				visibility: visible;
				opacity: 1;
				transition: visibility 0s linear 0s, opacity 300ms;
			}
		}
	}
	&__description {
	    position: relative;
		z-index: 1;
		color: #ffffff;
	}
	img {
		filter: brightness(0.8);
	}
	&__nav	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		.arrow {
			position: absolute;
			top: 175px;
			left: 30px;
			height: 30px;
			width: 30px;
			z-index: 2;
			border: 1px solid #ffffff;
			border-radius: 50%;
			transition: all ease-out 240ms;
			&::before, 
			&::after {
				content: '';
				border-right: 2px solid #ffffff;
				display: block;
				height: 8px;
				margin-top: -6px;
				position: absolute;
				transform: rotate(135deg);
				right: 12px;
				top: 50%;
				width: 0;
			}
			&::after {
				margin-top: -1px;
				transform: rotate(45deg);
			}
			&-left{
				transform:rotate(180deg);
			}
			&-right	{
				left: auto;
				right: 30px;
			}
			&:hover,
			&:focus {
				background-color: #ffffff;
				&::after,
				&::before {
					color: #1E2E36;
					border-color: #1E2E36;
				}
			}
		}
	}
	
}

.car-desc {
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	&__wax {
		flex: 1 1 auto;
	}
	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 125%;
		max-width: max-content;
		margin-bottom: 18px;
		@media only screen and (min-width: 1024px) {
			font-size: 36px;
		}
	}
	&__text {
		line-height: 125%;
		font-size: 16px;
		@media only screen and (min-width: 780px) {
			height: 0;
			visibility: hidden;
			opacity: 0;
			transition: visibility 0s linear 300ms, opacity 300ms;
		}
		@media only screen and (min-width: 1024px) {
			font-size: 18px;
		}
	}
}