<section class="page__slider slider-block">
	<div class="slider-block__item">
		<div class="_container">
			<div class="slider-block__description sl-desc">
				<p class="sl-desc__sub-title">Новинка!</p>
				<h2 class="sl-desc__title">Ліжко Ornella</h2>
				<p class="sl-desc__text">Це новий рівень комфортного сну</p>
				<a href="#" class="sl-desc__button site-button">Детальніше</a>
				<div class="slider-nav">
					<div class="slider-nav__point">
						<span>01</span>/04
					</div>
					<div class="slider-nav__buttons">
						<div class="arrow arrow-left"></div>
						<div class="arrow arrow-right"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-block__image ibg">
			<img src="img/bed_ornella.jpg" alt="cover">
		</div>
	</div>
</section>